<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(skills) { %>
    <li>
      <a href="/skills/<%= skills.id %>"><%= skills.language %></a>
      - 
      <%= skills.level !== 'advanced' ? 'can improve' : 'advanced' %>
    </li>
    <% }); %>
  </ul>
  <%- include('../partials/footer') %>
  